---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<p>For a complete list, visit our <a href="{{site.author.googlescholar}}" target="_blank">Google Scholar profile</a>.</p>

{% include base_path %}

<div class="publications-list">
  {% if site.publication_category %}
    {% for category in site.publication_category  %}
      {% assign title_shown = false %}
      {% for post in site.publications reversed %}
        {% if post.category != category[0] %}
          {% continue %}
        {% endif %}
        {% unless title_shown %}
          <h2 class="publication-category-title">{{ category[1].title }}</h2>
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single-publication.html %}
      {% endfor %}
    {% endfor %}
  {% else %}
    {% for post in site.publications reversed %}
      {% include archive-single-publication.html %}
    {% endfor %}
  {% endif %}
</div>

<style>
.publications-list {
  margin-top: 2em;
}

.publication-category-title {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #0066cc;
  color: #0066cc;
}
</style>



